[2020-02-20 16:15] uriberto opened #1 "New version of ionic is breaking (at least on large screens)."
I believe you just need to update your CDN to "@ionic/core@4.6.2" instead of "@ionic/core".

[2020-04-11 10:09] Tommertom commented on #1
Hi @uriberto, thx for this. I haven't been active for a while, but your comment is very relevant.

I changed the CDN and actually used 4.11.10 which seems to work too.

Sorry about not responding earlier.

[2020-04-11 10:09] #1 closed

[2020-05-25 00:08] joshua1 opened #3 "svelte-custom-elements"
@Tommertom  with this module deprecated, what is the alternative implementation that doesn't use svelte-custom-elements in the services/IonicController.js file. Also will this be updated for Ionic 5. I am interested in using this for mobile app

[2020-05-25 07:18] Tommertom commented on #3
Hi, in Ionic 5, the API changes a bit indeed, e.g.  `    import { menuController } from '@ionic/core';`

I haven't upgraded it yet and it will indeed be a breaking change. Let me see if I find the time the coming weeks to work on it. Would be a nice one to do, to keep the project relevant.

Will open issue "ionic 5 upgrade"

Custom elements will continue to work in svelte, so you can go ahead with

[2020-05-25 07:18] #3 closed

[2020-05-25 07:19] Tommertom opened #4 "Ionic 5 upgrade"
Ionic 5 is out, creating some breaking changes in the API for controllers as well as ionicons.

[2020-05-25 07:22] joshua1 commented on #3
@Tommertom  Thanks a lot for the quick reply. I think i will wait for the Ionic % changes, while looking at other things, i am also going to try getting a better understanding of the work you did here with Ionic 4. Well done and Thanks for this. The Ionic team must be made aware of this work here, makes it easier for them to start supporting svelte as a first class framework for Ionic

[2020-07-03 22:24] Tommertom commented on #4
Ionic 5 upgrade almost complete.
Not sure why menuController won't close the menu. And I need to fix some warnings. But in general it is working nicely :)

[2020-07-07 17:42] the-rasmussen opened #7 "Errors while trying to run npm run dev"
I'm trying to run `npm run dev` but I'm getting errors unfortunately.

First I get a runtime error in the browser console saying: `localhost/:1 Uncaught TypeError: Failed to resolve module specifier "@sveltech/routify/tmp/routes"`

In package.json I can see that @sveltech/routify is set to version "next", which npmjs.com says is version 1.1.1-1. That is a rather old version, so I tried updating it

[2020-07-07 19:15] Tommertom commented on #7
Hi @the-rasmussen , thx for reporting the issue. Will try to reproduce from the repo. Sorry about the bad experience.

[2020-07-07 19:25] the-rasmussen commented on #7
I updated all the packages to latest and now it works :)

But I kinda think ionic is being included twice now, right? Once via the script tags and once via the esm module imports.

[2020-07-07 20:01] Tommertom commented on #7
There is something wrong with the @ionic/core import and the definition in rollup.js.. Still need to experiment to figure.
Have updated the dependencies and now everything is broken :)
So, looking forward to a few evenings having fun. To be continued.

[2020-07-08 14:11] Tommertom commented on #7
PR implemented. Thx @the-rasmussen for your support.

[2020-07-08 14:11] #7 closed

[2020-07-08 14:11] Tommertom commented on #4
Completed with some minor issues

[2020-07-08 14:11] #4 closed

[2020-07-08 14:16] Tommertom opened #9 "Live reload requires ctrl-F5?"
After code changes, I need to hit ctrl-f5 to reload, as Chrome gives an error (`GET http://localhost:5000/bundle/main.js net::ERR_ABORTED 404 (Not Found)`) on automatic live-reload

[2020-07-08 18:14] Tommertom commented on #9
Fixed. Was issue in rollup-config (delete statement).

[2020-07-08 18:14] #9 closed

[2020-08-17 11:48] tomkahn opened #11 "The minorest of issues: Wrong cursor"
On desktop it doesn't give me the hand-cursor (👆) when hovering over the menu items on the left but the "select text"-one (I) instead. An unforgivable mistake, but other than that great project!

[2020-08-17 13:17] Tommertom commented on #11
Thx. Will look into it. Appreciate all feedback.

[2020-08-17 13:29] Tommertom commented on #11
Hi @tomkahn
Can't replicate.. This is what I see on my Win10 Chrome
https://www.youtube.com/watch?v=PaNjpi5uhR0
What are your specs?
Regards
Tom

[2020-08-17 13:46] tomkahn commented on #11
Windows 10, Brave Version 1.12.112 Chromium: 84.0.4147.125 (64-bit)

https://photos.app.goo.gl/rndZF17TkVA5apSu5

[2020-08-17 13:49] Tommertom commented on #11
Thx,

I think your CPU is broken.... You need to put some chewing gum on it, to cool it....

Just kidding, going to check on other devices later on.

To be continued...

Tom

[2020-08-17 14:07] tomkahn opened #12 "Wrong font (Win 10/Brave)"
https://www.dropbox.com/s/9lqijx4mvvz6k8r/2020-08-17_16-00-35.mp4?dl=0

[2020-08-17 14:23] Tommertom commented on #11
CAn you try? I forced a pointer

[2020-08-17 14:30] tomkahn commented on #11
Works! ✅

[2020-08-17 14:31] Tommertom commented on #11
Thx

[2020-08-17 14:31] #11 closed

[2020-08-17 14:58] Tommertom commented on #12
Hi
from a developer perspective, there are no places where I set a font - at least I can't remember. I think Ionic has a complex set of cascading style sheets that add up to the finale font being used.

I can understand if you - in that chain - deselect a font, suddenly things change, but not sure how I can circle that back to a bug or make it a documented feature

Thanks for the video though. I a

[2020-08-17 15:21] Tommertom commented on #12
I did add the font defition as a global CSS, as I wanted to know where to place global CSS in the svelte way (which btw, I believe can be done in different places).

App.svelte
[code]

[2020-08-18 09:09] tconley opened #13 "segmented select"
I'd love to see an example implementation of ion-select with segmented buttons, with ability to select single and multiple.

Here's an example from a paid framework:
https://docs.mobiscroll.com/angular/segmented#using-with-ionic
![image](https://user-images.githubusercontent.com/1893207/90493673-7ef8cd00-e0f7-11ea-9075-1025a5db0b6a.png)

Here's an ionic discussion where they basically said no to m

[2020-08-18 18:18] Tommertom commented on #13
Hi @tconley ,

Thank you for raising the issue. Do you know of a non-commercial implementation of this feature? Then I can consider integrating it as option.

[2020-08-19 07:07] Tommertom commented on #13
Closing. There is a solution given in the Ionic Forum

https://forum.ionicframework.com/t/ion-select-style-like-segment-buttons/194624/4

[2020-08-19 07:07] #13 closed

[2020-08-19 07:48] tconley commented on #13
Yes, that's me posting over there :) Once I polish off this component I'll submit a pull request. Great project!

[2020-12-09 15:33] b-d-m-p opened #15 "I want to help improve this. What should I work on."
Hi, we spoke on reddit a bit before. I'm a fan of Ionic and Svelte and want this to take off, so if there's something I can work on, let me know.

Cheers

[2020-12-10 09:35] Tommertom commented on #15
Hi thx!

Depends on your interest - there are number of topics to cover pending the use case.

- workbox improvements to make it a full PWA -> trying to align with the angular goodies, so it becomes out of th box usable for PWA power. The workbox implementation now is pretty basic (does nothing). Would be nice to have offline support, push notification and some other goodies in there (understandin

[2021-02-01 05:40] b-d-m-p commented on #15
@Tommertom Sorry for the late reply. Wasn't really using Github notifications. Am now. I will take a look at some bugs. Is there are roadmap, we can add this list to?

[2021-02-01 07:38] Tommertom commented on #15
Hi @b-d-m-p . No problem. The objective is to keep the app ready as boilerplate for building an easy Ionic app, ideally as PWA.  So the roadmap is to keep it updated with latest version of the key libraries used. So, the roadmap also requires deciding which library is now the best to use. E.g. I saw about rxfire for Firebase integration - which I should have thought off earlier...

To that extend,

[2021-10-07 18:13] Tommertom commented on #15
Hi @AlexRMU

Thx for that. I was planning to do an update when Ionic 6 is beyond RC

A while ago I played with svelte init, to see if that powerful tooling could replace some of the stuff now present. But initial tests did not give good results

I will look into your individual points

Thx

[2021-12-13 12:45] raymondboswel commented on #15
@AlexRMU Thank you for the snippet above. I was stuck trying to find a way to apply my global styles inside my customElements, which seems like a bit of a dead end. I just had to make a small update to your snippet to get it to work:

[code]

[2021-12-15 18:57] Tommertom commented on #15
So @raymondboswel  - does this also mean this code should be used for popover? I guess so..

[2021-12-15 19:00] Tommertom commented on #15
Hi @b-d-m-p  - sorry for ignoring you - with the seasonal holidays coming I want to work on this project and also do the Ionic 6 upgrade.

The thing that haunts me here is the service-worker part using workbox or something else. This project needs some nice and easy way to get it to get 100% PWA score in Lighthouse - and the biggest thing is the offline capabilities. Especially looking at the upda

[2021-12-15 19:18] raymondboswel commented on #15
Yes, it works for both cases :+1:  With regard to getting the app a 100% PWA score - With Ionic 6 you can now bundle the project with bundlers like Vite, which has a workbox integration. I haven't fully looked into it as it's not something I currently have to achieve, but you can take a look at https://github.com/raymondboswel/ionic-modal-reproduction/blob/main/src/App.svelte for the details on wh

[2022-02-08 15:27] ComedyTomedy opened #24 "NPM failure"
NPM 8.1.4

Installation died with an error, unless I did this first:

[code]

The error message:

[code]

[2022-02-08 15:34] ComedyTomedy commented on #24
I'm not really an npm, expert, but maybe installing this locally in the project, as a dev dependency is the right thing to do?

    npm install agentkeepalive --save-dev

[2022-06-04 11:50] Tommertom commented on #15
Started working on Ionic6vite integration

https://github.com/Tommertom/svelte-ionic-app/tree/ionic6vite

[2022-06-05 17:25] Tommertom commented on #24
Hey @ComedyTomedy  - sorry for leaving you without comments. Not sure why agentkeepalive is needed. Never encountered this issue. As you do a global install, it seems to be related to network stuff - also looking at your error message.

Hope it still worked. Right now I am focussing on getting Ionic 6 with Svelte and Vite going. (using npm create vite@latest). I think then we are in a totally new

[2022-06-05 17:25] #24 closed

[2022-06-05 19:14] ComedyTomedy commented on #24
Yeah don't worry. I think I was just suggesting adding a dependency in case it helped someone else. Good luck with everything!

[2022-06-15 02:21] Tommertom commented on #15
@raymondboswel  @AlexRMU

Now with the arrival of Ionic 6 I refactored your code to launch a modal. Also because your code seems to open the modal empty, and after completion of the animation, the modal gets populated. Which seems undesirable.

The following code I use - and the magic I needed is in your function declaration:
[code]

This repo is upgraded with fully new version - also in a more li

[2022-06-15 02:27] Tommertom opened #30 "Need Help - IonTabs - default selected tab (as part of Route) is not selected"
Need help here:

https://ionicsvelte.firebaseapp.com/components/tabs/blabla

Should select tab - blabla as starting point, but the select method on IonTabBar does not yield results

https://github.com/Tommertom/svelte-ionic-app/blob/master/src/lib/ionic/svelte/components/IonTab.svelte

[2022-06-25 22:45] Tommertom commented on #30
Fixed with workaround - known issue with Ionic https://github.com/ionic-team/ionic-framework/issues/20060

[2022-06-25 22:45] #30 closed

[2022-07-05 22:19] b-d-m-p opened #31 "A nicer logo for this app (touch- & fav-icon) - anyone can help?"
I can help with that. What are you thinking?

[2022-07-05 23:40] b-d-m-p commented on #31
So some combination of the Svelte and Ionic logos, right? I know this uses Vite but things like that change so maybe it's better to leave that out.

[2022-07-06 08:41] Tommertom commented on #31
Hi there - thx for reaching out @b-d-m-p

Will nice to get a better logo.  So if you are able to put something together, that will be great!

Re Vite - I get your point. And less is more indeed.  I surely hope Vite is here to stay, but can be replaced indeed.

Combining the two communities - Svelte and Ionic- is basically also the objective of the project.  Up to the point it becomes so popular th

[2022-07-06 09:10] b-d-m-p commented on #31
Ok! Sounds good! I will get it done this weekend.

[2022-07-06 10:11] b-d-m-p commented on #31
Playing around

![image](https://user-images.githubusercontent.com/1300390/177527286-f93691c5-e13d-49ef-9a20-8bb3ffd88db9.png)

[2022-07-06 10:17] b-d-m-p commented on #31
![image](https://user-images.githubusercontent.com/1300390/177528311-a4a0f85d-bec8-4cb4-a373-090882097dcf.png)

[2022-07-06 10:21] b-d-m-p commented on #31
C

![image](https://user-images.githubusercontent.com/1300390/177529078-4b50b8da-b7d1-419a-b230-352295ef281e.png)

[2022-07-06 10:32] b-d-m-p commented on #31
D

![image](https://user-images.githubusercontent.com/1300390/177530891-670011db-6804-4f4f-b4a9-41f8908032c7.png)

[2022-07-06 10:39] b-d-m-p commented on #31
E

![image](https://user-images.githubusercontent.com/1300390/177532181-49175819-e4dc-4e3c-b342-cf5787842df8.png)

[2022-07-06 10:55] b-d-m-p commented on #31
D is the best but it's going to be unreadable as a favicon. Let me know if you have any other ideas.

[2022-07-06 10:56] Tommertom commented on #31
Nice! I would go for C

No dominance from either two - so to say.

What about you?

We can pick two or more and do a vote - on Twitter I reckon?

[2022-07-06 11:02] b-d-m-p commented on #31
The only thing with C is that the circle in the middle is missing so it doesn't register as Ionic for me. Also, I think Ionic should be dominant because if you look at Ionic React, Ionic Vue, etc., the library it is written with is like the flavor of Ionic. And ultimately it would be adopted by Ionic so they have a bit more importance.

Yeah, let's do a poll on Twitter 😃

F

![image](https://user-

[2022-07-07 06:24] Tommertom commented on #31
That makes a nice favicon.
Let me work on my twitter skills :)

[2022-07-07 18:07] Tommertom commented on #31
Quick Q - can you do a PR for a high res version of the logo? Or otherway relay it to me?

[2022-07-08 01:07] b-d-m-p commented on #31
![Ionic Svelte logo](https://user-images.githubusercontent.com/1300390/177896067-bc4e9673-fd94-4f77-bb9d-ea941d010b0e.svg)
![Ionic Svelte logo@4x](https://user-images.githubusercontent.com/1300390/177896074-aec71daa-7b3c-4773-9476-91caafb707cb.png)

@Tommertom here you go! Give me your email address and I can add you to the Figma file.

https://www.figma.com/file/PFtYtKjlSBOPKtKwV82uU7/Ionic-Svelt

[2022-07-08 01:18] b-d-m-p commented on #31
I can make all those favicons, icons and splashscreens if you want. Just let me know. I can do a PR and add them all.

[2022-07-08 05:57] Tommertom commented on #31
Yes please - go ahead. If you need anything from me, let me know

[2022-07-08 07:11] Tommertom commented on #31
This is the thought proces?

[2022-07-08 08:01] b-d-m-p commented on #31
Kinda, not so much a thought process as just trying many different approaches and see which one works best

[2022-07-10 16:38] Tommertom commented on #31
Implemented

[2022-07-10 16:38] #31 closed

[2022-07-10 16:41] Tommertom opened #32 "Ionic Page transition - how to implement in router?"
For page transitions Ionic has this really cool transition which is more than just a single page fly-in - what is happening now.

It looks into the various elements of the incoming component and gives them specific transitions. Like the header-title, the default back-button and the page itself. Also the outoging component gets this special treatment as a whole and for its elements.

For now I have

[2022-07-24 11:48] burggraf opened #33 "Add bind:value to ion-input"
Adding the bind:input property to `<ion-input>` would dramatically simplify the code.  Where should I look to try to create a PR for this?

[2022-07-24 11:54] burggraf commented on #33
Ok, so we're waiting on this?  https://github.com/sveltejs/svelte/issues/4838

[2022-07-24 12:47] Tommertom commented on #33
Yes

Alternative is to wrap the elements in svelte component

That is a bit of work and also requires one to import all elements explicitly before using

I believe that is what u need to do in react and vue and was hoping to avoid as then for consistency i would have to do so for all components

[2022-07-24 12:50] burggraf commented on #33
A standard `<input bind:value={thing} type="text">` works fine but we lose all the Ionic styling goodness.

[2022-07-24 13:19] Tommertom commented on #33
Yes

[2022-07-24 14:29] burggraf opened #34 "What are the advantages of routify vs. window.location.href?"
I'm very new to Svelte (but loving the simplicity and speed of it so far).  Can you tell me, though, what the advantages are of using `routify` vs. standard html routing for something like `[..fallback].svelte`?

[code]
vs.

[code]

[2022-07-24 16:18] Tommertom commented on #34
Hi there

Thx for trying this out

a window.location.href will trigger a full page reload where as a router command won't

In this case (fallback) it might be a big issue, because someone entered a wrong URL.

Or you programmatically triggered a wrong route - in that case, it also does not matter - we need to debug then :)

[2022-07-24 16:30] burggraf commented on #34
Gotcha.  This repo rocks.  I'm creating some `Supabase`-specific stuff that I hope to break into a separate `npm` lib that can be easily added in:  https://github.com/burggraf/svelte-ionic-supabase-sidemenu.  Once I get further along I'll host a demo app with the extensions.

[2022-07-24 16:46] Tommertom commented on #34
Thx - I will be glad to hear how things have worked out for you.

[2022-07-24 17:49] Tommertom commented on #33
Please note - if you use a library such as https://svelte-forms-lib-sapper-docs.vercel.app/introduction together with Yup schemas https://github.com/jquense/yup, the bind:value-issue actually becomes less relevant as you will have the library handle the events and you will use the observables to manage validation and final values to use for further processing. See https://blog.logrocket.com/form-v

[2022-07-28 17:46] pedelriomarron opened #35 "PWA config"
Good I've been trying to understand for a couple of hours, what configuration should I do with vite to have PWA.

For example to your demo example, if I wanted to have it in PWA, would I have to add code or just some configuration?
Thank you very much and great job.

edit: I think what I don't understand is how to use the service worker, because I don't see it in your code and I don't know where y

[2022-07-28 19:58] Tommertom commented on #35
Hi there

there subscribe method in App.svelte invokes the service worker registration.

https://github.com/Tommertom/svelte-ionic-app/blob/main/src/App.svelte

And pwa.ts does the registration - https://github.com/Tommertom/svelte-ionic-app/blob/main/src/lib/pwa.ts

A bit hidden indeed. And the vite PWA out-of-the-box configurations let's you put in in main.ts.

But I wanted everything around the

[2022-07-28 20:08] Tommertom commented on #35
Alternatively I could add a `registerServiceWorker` function to pwa.ts that does nothing more than subscribe to the readable.

Then there is an explicit calll to a registration which might speak more to the developer's expectation then this.

What is your recommendation?

[2022-07-29 15:22] burggraf commented on #35
My app is working great offline, so the service worker is doing its job.  But what steps do I need to take to force an app refresh when I release a new version?  Will just upping the app version number in package.json force a refresh if the app is cached?

[2022-07-29 16:34] burggraf commented on #35
I just tested it and it seems to update automatically.  Sweet.

[2022-07-29 16:39] Tommertom commented on #35
Yup

There is an update event you can monitor so you can waen your users as the refresh is pretty aggressive

And indeed the refresh trigger comes from a new build which generates all sorts of new hashes the existing sw will pickup

Not having a proper update routine in your app before deploying as pwa will leave you with a manual intervention needed by your users to update

Or lots of time until

[2022-08-03 14:43] #35 closed

[2022-08-03 14:43] pedelriomarron commented on #35
thank you

[2022-08-29 14:05] kristianmandrup commented on #32
`routing-store.js`

[code]

`routing-config.js`

[code]

Then create some components that subscribe to the store and activate the transitions?

[2022-08-29 14:21] kristianmandrup commented on #32
Interesting article with some patterns here: https://imfeld.dev/writing/svelte_overlapping_transitions and https://blog.logrocket.com/essential-transitions-and-animations-in-svelte/

Looks like the key is to use https://svelte.dev/tutorial/key-blocks like in https://stackoverflow.com/questions/69186922/transition-when-cycling-through-store-in-svelte

[2022-08-29 14:34] kristianmandrup commented on #32
Note that in routify 3, they are called hooks, not helpers https://v3.ci.routify.dev/docs#guide/concepts/hooks

Elements on individual pages can be accessed via context and nodes https://v3.ci.routify.dev/docs#guide/concepts/nodes
Perhaps meta and preloading could be useful to tap into? https://v3.ci.routify.dev/docs#guide/concepts/meta https://v3.ci.routify.dev/docs#guide/concepts/preloading

[2022-08-30 15:07] Tommertom commented on #32
Hi @kristianmandrup  - thank you so much for this! I will study more carefully in the coming days/week - busy on something else (=J O B). But really appreciate the effort!

[2022-08-30 19:29] Tommertom commented on #32
https://youtu.be/ua6gE2zPulw

Placeholder - Geoff Rich on element transitions

[2022-08-30 21:31] kristianmandrup commented on #32
By chance, I just discovered the new PageTransition API available in Chrome beta (ie native support).

https://www.youtube.com/watch?v=JCJUPJ_zDQ4 - Bringing page transitions to the web
https://hyva.io/blog/news/page-transition-api-at-the-hyvacamp-2022-hackathon.html

[2022-08-30 21:34] kristianmandrup commented on #32
Oh, we discovered the same PageTransition API independently :)

[2022-08-30 22:14] kristianmandrup commented on #32
Aha, here is a Svelte demo not using the Page Transition API - https://github.com/pngwn/svelte-travel-transitions

[2022-08-30 22:19] kristianmandrup commented on #32
All the info for his presentation: https://geoffrich.net/posts/svelte-london-2022/
And here the repo for his demo: https://github.com/geoffrich/sveltekit-shared-element-transitions

I would think that his code would just need to hooked up to a wrapper around roxify router which provides slightly more information and flexibility.

[2022-08-30 22:57] kristianmandrup commented on #32
For Routify v3

[code]

[2022-08-30 23:29] kristianmandrup commented on #32
According to Geoff's code we need the `from` and `to` routes. In the `beforeUrlChange` hook we get the `route` which contains the `router` with the history (where we can get `from`) and the url of the route being navigated `to`

[2022-09-03 08:51] kristianmandrup commented on #32
@Tommertom Routify author has just provided [this store](https://github.com/roxiness/routify/issues/477#issuecomment-1232669203) for integration with Page Transition wrapper by @geoffrich .

[code]

[2022-09-03 10:14] kristianmandrup commented on #32
I've just created this sample repo using the Page Transition wrapper by @geoffrich and routify 3
https://github.com/kristianmandrup/page-transition-app

Could serve as a starting point to build on.

[2022-09-03 15:06] shaunmulligan opened #36 "Errors running menu demo"
When running the menu demo I get the following error:
[code]
Other demos work as expected :D

[2022-09-03 16:00] Tommertom commented on #36
Hey there
Thanks for reporting. That import can be removed as it is not used.
Is it working then?
Thx for the feedback

[2022-09-03 16:09] Tommertom commented on #32
Hey there

So from the rapid reading I have done I see a few things
- I will be moving to SvelteKit router, so removing Routify from the main repo.  So that limits my personal appetite to invest in Routify.
- the key challenge I see, and I am not sure if your solution repos solves it - is that the incoming page transition as well outgoing page transition needs all sorts of animating stuff going on

[2022-09-03 16:19] shaunmulligan commented on #36
Alright, cool it seems to work after removing that

[2022-09-03 16:19] #36 closed

[2022-09-03 16:44] kristianmandrup commented on #32
Hi @Tommertom, from my understanding and investigation, SvelteKit does not currently support Ionic apps. Hence I'm not sure if you can use the SvelteKit Router instead of Routify.

- https://github.com/sveltejs/kit/issues/5143#issuecomment-1190843804

The example app by @geoffrich as demonstrated in his video showcases the back button and an image on a page being animated independently of the page

[2022-09-03 16:57] Tommertom commented on #32
Sveltekit and Ionic (my lib that is) go well together as long as sveltekit runs SPA mode

I have it running - I just need to go to their latest breaking release and then implement it

[2022-09-03 20:17] kristianmandrup commented on #32
Very cool :) SvelteKit sure moves fast...
Very exciting!

[2022-09-07 15:55] ollydixon opened #37 "Nagivation forwards animation"
Awesome job; love it!

Any idea how we can get forwards navigation animations working?

Also; how do we deploy to web?

[2022-09-07 16:08] Tommertom commented on #37
Hi thx for the compliments. We live to serve :)

Not sure what you mean with forward navigation animations - there is a non-Ionic rudimentary animation for pages implemented in IonPage.svelte. If that is what you are looking for?

As to "deploy to web". This depends on where you want to deploy to. I am using Firebase, but you easily go to Netlify, Vercel etc. That is not an Ionic thingy. Once you

[2022-09-08 07:10] ollydixon commented on #37
I deploy via standard container, gcloud :-)

But what I mean is, what are the steps to deploy web, it's just the same static code?

[2022-09-08 16:43] Tommertom commented on #37
Hi - yes. I myself build the assets using the npm run prod command and then use firebase cli to upload the dist/client files to firebase hosting. So fully static hosting of html, css, js and other files

Maybe even easier then setting up gcloud container?

And the SPA rewrite rules are immediately set properly

[2022-10-19 21:26] krizzdewizz opened #38 "ion-item-sliding only works in build mode, but not in dev mode"
In the "Item" category, the "Sliding Item" demo only works in build mode, but not in dev mode.

npm run dev -> does not work. There's no animation, the options do not appear.

![ion-item-is-null](https://user-images.githubusercontent.com/2172593/196807609-b4882a24-d752-43b4-a35e-19759fe93125.png)

npm run build & npm run preview -> does work as expected

[2022-10-21 13:10] Tommertom commented on #38
Thx for  this. I have seen it before and then suddenly no more

I am a bit clueless where to start

Maybe the gesture is not captured?

You have an idea?

[2022-11-07 01:13] Olyno opened #39 "Create an independent components package"
Hi 👋🏻

I would like to be able to install the different components from a single package to install, and not to copy and paste the components manually.

Would it be possible to create a specific package for the components please?

[2022-11-13 13:09] Tommertom commented on #39
Hey there @Olyno   - valid point - npm package is a thing on the wishlist.

[2022-11-14 16:34] Olyno commented on #39
Wow awesome, can't wait for it to be available!

[2022-11-14 19:08] Tommertom commented on #39
@Olyno  Here you go... https://www.npmjs.com/package/ionic-svelte

Please provide feedback if this works for you.

[2022-11-14 20:18] Olyno commented on #39
It seems to work. However, I would have preferred to have custom components exported. Something like:

[code]

I can contribute by doing most of the components. Anything internal to Ionic (e.g. ``controllers.ts``) will be out of my reach.

[2022-11-14 20:23] Tommertom commented on #39
Hi @Olyno  - I understand.

How would you like to see that happening in the code and it makes the bundle probably a bit smaller? I think for this to work each component needs to get a separate svelte file, which also registers itself as webcomponent? And then index.ts needs to import as default and re-export?

I had thought of this,...maybe this can be generated? Because it is a pretty tedious job

[2022-11-14 20:36] Tommertom commented on #34
I think this can be closed now - although having open issues is mostly a healthy sign ;)

[2022-11-14 20:36] #34 closed

[2022-11-14 20:37] Tommertom commented on #37
I think this can be closed now - although having open issues is mostly a healthy sign ;)

[2022-11-14 20:37] #37 closed

[2022-11-14 20:53] Olyno commented on #39
That's what I thought. Nevertheless you are right that it is a huge job. I just looked more closely at trying to convert a first component, and it took me much longer than I thought.

I don't know if the proxy system works with Svelte. I'm thinking about the typing of the components which would be more than interesting. Importing custom components that would be just a simple conversion of a web co

[2022-11-14 21:14] Tommertom commented on #39
The Vue and React implementations also wrap the webcomponent in a "native" component to create type safety and also some sort of tree shaking. The current implementation loads the whole Ionic library.

Ionic without webcomponents requires a rebuild from the stencil source into something different. That is a task beyond huge, imho.

Svelte:element - maybe, but won't solve the problem of having to l

[2022-11-14 22:24] burggraf commented on #34
I'm using this repo as a base for a fairly large project now, and it's going very well.  Are you upgrading to the latest SvelteKit release, and if so, when?  And will there a big upgrade curve?

[2022-11-15 06:21] Tommertom commented on #39
Alternative path - after a good night of sleep - is to provide for dynamic import of components in ionicSvelteSetup (or separate method) - not sure if this saves bundle size but will speed up a bit the initialisation as it would only register the required webcomponents

You know if dynamic imports affect bundles positively and how?

[2022-11-15 09:12] Olyno commented on #39
I'm not sure what you want to do. Do you have an example in mind?

[2022-11-15 13:24] burggraf commented on #34
Thanks for this -- I appreciate this POV, basically "if it's working no need to upgrade now."  And it's working extremely well, as I said.  Just let me know where you'd like me to supply feedback and I'll be happy to post my findings as I go.  Thanks for this product!!!

[2022-11-15 19:08] Tommertom commented on #39
Yes, I was thinking like

`setupIonicSvelte(['IonSelect','IonSlide')` which then only registers these components.

Problem with this structure is that the array contains strings requiring then a dynamic import in the method. This in turn does not help reducing the bundle - what I've read somewhere. Next, a short test with performance timing shows that the actual time the current proces takes, does

[2022-11-16 19:48] Tommertom commented on #34
Hi @burggraf  - bit off topic from this issue, but have you implemented form handling and if so, which libraries did you use to do the validation and error reporting to user?

I am trying yup for schema and validation. But not yet found a suitable form lib that uses yup to validate ionic forms

[2022-11-16 23:33] burggraf commented on #34
I haven't implemented any form handling -- I usually do most of that by hand anyway, sorry.

[2022-11-17 17:57] Tommertom commented on #39
Hi - no problem

I can generate the svelte ionic wrappers following from the core code. Then I will be getting the following -  see below - would that work? It does not expose the properties of the component explicities - only the events are exposed (ionBlur etc). Would that solve the autocompletion

[code]

[2022-11-17 18:07] Olyno commented on #39
If the props are implicit, then it is indeed better to add exports, this seems to me to be the best to do for autocompletion

[2022-11-17 19:23] Tommertom commented on #39
So - this can still become a bit of work - the generator script can deliver this:

[code]

While this gives tapesafety, it does make at least two props mandatory while they arent: color and form.

The Stencil code does not give explicit default values, and I expect more of these, requiring manual search & replace.

[2022-11-17 19:30] Olyno commented on #39
That sounds really good to me!

[2022-11-17 19:35] Tommertom commented on #39
Not sure how to pull it off though - ionic docs arent that easy to parse - so maybe later...

[2022-11-18 19:47] Tommertom commented on #39
Importable code available through experimental folder in the npm package. Haven't tried it in a project yet, as I focussed on the generation of type-safe svelte wrappers -  https://github.com/Tommertom/svelte-ionic-npm

So moving from `<ion-button>A great button</ion-button>` to

[code]

Experimental also has version of `setupIonicSvelte`.

So if you want to use this, change imports from ` ... fro

[2022-11-21 19:42] Forsakenrox commented on #33
issue opened at least one yeat ago, btw in vanilla ionic with angular @ngModel work perfectly. We need to think about own solution or force  ionic team to add official svelte support. At current point ionic team meets with very fucked "OOP" over the routing system in sveltekit, this is problem and main reason why ionic team dont want to continue work with svelte.

[2022-11-22 15:36] Forsakenrox opened #42 "What about "clearOnEdit" for password inputs ?"
Hey. Im reed the docs of ionic about ion-input and find some interesting unexpected behaviors for this type of components. input of type "password" being cleared every time after focus loose by default. this behavior in ionic-svelte has the same point. I was try use "clearOnEdit=false" and other variations, but without success. Did you have any idea or i miss something ?

[2022-11-22 15:53] Forsakenrox commented on #42
Oh, my sorry - that is because weak ionic docs. to take effect you need write attribute in kebab case` clear-input="true"`

[2022-11-22 15:53] #42 closed

[2022-11-22 18:08] Tommertom commented on #33
Hey there folks

So I am working on svelte native wrappers for all ui elements including the form elements

And the good news is with those, bind:value will work again as I can add some small logic that dispatches new values!

I will release these soon (tonite) under the npm package ionic-svelte and still VERY experimental because the wrappers need to be tested individually

These wrappers will al

[2022-11-22 18:11] burggraf commented on #33
This is pretty awesome news.  Is there an upgrade path to go from the [Sidemenu Demo](https://github.com/Tommertom/svelte-ionic-sidemenu-demo) to the new `npm package ionic-svelte`?

[2022-11-22 18:22] Tommertom commented on #33
Well no full automation

I did build a small script that scans a directory for .svelte files and then replaces the kebab components into the new notation
(and the old file renamed to .bak)

So that in theory you could run this on the root src directory - but haven't done that myself even

Then a npm i ionic-svelte is needed

And finally in root latout where setupIonicSvelte is called you need to c

[2022-11-22 18:24] burggraf commented on #33
I'll give this a try on a test repo tomorrow and let you know how it goes.

[2022-11-22 18:32] burggraf commented on #33
I guess the best way to do this is for me to create a new sample app using `svelte-ionic-npm` then just compare things there to what I have in my project.

[2022-11-22 19:33] Tommertom commented on #33
hold on - will drop a line here...

[2022-11-22 19:41] burggraf commented on #33
Trying to set up a basic ionic app with svelte-ionic is giving this error:

[code]

[2022-11-22 19:44] Tommertom commented on #33
Hi - can you raise a new issue for this, so this issue does not get filled with other topics? And do you have a minimal repo you can share?

[2022-11-22 19:45] burggraf commented on #33
If I can't resolve it I'll post a basic repo.  We should have a starter repo anyway with a basic setup to make things easy.  Or at the very least a script to set things up.

[2022-11-22 21:16] Tommertom commented on #33
https://www.npmjs.com/package/ionic-svelte

Version 0.5.13 now holds the new experimental components that should support bind:value for a number of componets - Select, RadioGroup, Checkbox, Input, Searchbar, Textarea, Segment. Datetime, Range and Toggle

The scripts folder under node_module or on the github repo will have a file called migrateToImport.js which does the migration into imported comp

[2022-11-25 14:50] burggraf opened #43 "`vite build` fails with error"
When I run `vite build` the build fails with the following error:

[code]

[2022-11-25 15:28] burggraf commented on #43
I just realized `npm run build` does not fail, but since this just calls `vite build` why would `npm run` work?

[2022-11-25 17:40] Tommertom commented on #43
No clue - but not specific to this project I would say

[2022-11-25 17:42] burggraf commented on #43
You can close this.  Thanks.

[2022-11-25 20:05] #43 closed

[2022-11-26 02:17] arcanemachine opened #44 "Error when following setup instructions: Unexpected token 'export'"
When setting up the project as described in the repo, I followed the instructions several times to make sure I didn't mess anything up. Running Xubuntu 22.04.1 LTS.

[code]

Cloning your repo, then doing `npm i` and `npm run dev` works just fine.

[2022-11-26 03:37] arcanemachine commented on #44
Sorry, it was a user error: I added `export const ssr = false;` to `src/routes/+layout.svelte` instead of `src/routes/+layout.ts`.

[2022-11-26 03:37] #44 closed

[2022-11-27 17:18] burggraf commented on #33
I've been working on converting my projects from [https://github.com/Tommertom/svelte-ionic-sidemenu-demo](https://github.com/Tommertom/svelte-ionic-sidemenu-demo) to the new version here [https://github.com/Tommertom/svelte-ionic-app](https://github.com/Tommertom/svelte-ionic-app).  The environments are significantly different so it took a lot longer than I expected, but my first project is done.

[2022-11-27 17:20] burggraf commented on #33
All that said, I have not yet tried the binding stuff yet (it took me a lot just to catch up to using `npm ionic-svelte`!

[2022-11-27 17:30] Tommertom commented on #39
hi @Olyno  - looking for an opinion

I have been working on component library and it was great fun, getting to solve all sorts of smaller and bigger things.

So, basically the route was to create .svelte wrappers for each element, supporting slots and so on - see example https://github.com/Tommertom/svelte-ionic-npm/blob/main/experimental/components/IonItem.svelte

But now I wonder if this is the

[2022-11-27 17:33] Tommertom commented on #33
Thx for sharing - always good to publish starters!

As to the NPM library - should not be a difficult task right? Only the kit migration might have been a challenge.

Word of caution - don't use the experimental parts in the NPM lib - they are not ready yet, unless you like to co-create.

[2022-11-27 17:36] burggraf commented on #33
Not sure what you mean about an NPM library.  I don't need to create a lib at this point.

Thanks for the pointer about the experimental stuff. I'll hold off on that for now then.

[2022-11-27 17:50] Olyno commented on #39
Hi @Tommertom,

I think we should use css class for that. Using css, it should work. For example:

[code]

You can do that using

[code]

Not sure if it will solve the issue, but this is a possible way

[2022-11-27 18:40] Tommertom commented on #39
Interesting syntax - as a prop to the component

Then the prop needs to be filled in the parent as js object, not in the style definition. That won't fly

Then the syntax could be like

[code]

Passing class isn't necessary then

[2022-11-27 18:46] Tommertom commented on #39
https://dev.to/dakmor/type-safe-web-components-with-jsdoc-4icf

This is the other way using jsdoc type annotations

[2022-11-27 19:55] Tommertom commented on #33
Ok sorry - I misread your post.

New way to work with this library is to spawn the svelte project as per svelte instructions (Kit etc) and then do `npm i ionic-svelte` - then you have the stuff as node_modules

Then you only need to configure theme and init routine as per instruction in the readme - https://github.com/Tommertom/svelte-ionic-npm